.container {
	position:absolute;
	z-index: 2;    
	width: 150px;									
	height:115px;									
	left:7%;										
	top:17%;	 									
	margin:-150px 0 0 -115px;    					
	opacity: 1.00;		
	padding: none;
}